@import url('https://fonts.googleapis.com/css2?family=Padauk&family=Allerta+Stencil&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kirang+Haerang&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mali:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jomhuria&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');
html, body {
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #F3f3fc;
    font-family: 'Padauk', sans-serif;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    font-family: 'Allerta Stencil', sans-serif;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 40px 40px 20px 40px;
    padding: 50px;
    font-size: 40px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    text-align: center;
}

.header h1 {
    margin: 0px;
}

.header img {
    max-width: 120px;
    margin-right: 20px;
}

.menu {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 20px 40px 40px 40px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.menu button, .confirm button, .instructions button {
    font-family: 'Allerta Stencil', sans-serif;
    background-color: #FF6EC7;
    padding: 15px 25px;
    text-align: center;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 10px;
    box-shadow: 0 9px #999;
    width: 60%;
    margin: 20px;
    font-size: 40px;
}

.menu button:active, .confirm button:active, .instructions button:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.story-body {
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 20px 40px 40px 40px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.left-column {
    width: 60%;
} 

.right-column {
    width: 40%;
}

.story-workspace {
    display: flex;
    flex-direction: row;
}

.story_text {
    background-color: white;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    padding: 15px;
}

.hidden {
    display: none;
}

.story_text button {
    background-color: white;
    font-size: 26px;
    font-family: 'Padauk', sans-serif;
    padding: 10px;
    margin: 10px;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.story_text button:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.story_text button:active {
    transform: translateY(4px);
}

.input-list {
    display: flex;
    flex-direction: column;
    justify-content: left;
    font-size: 30px;
    margin: 10px 70px;
    padding: 30px;
}

.input-list input, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 30px;
}

.errors {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.error-content {
    color: red;
    font-size: 30px;
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 34px;
    font-weight: bold;
  }
  
.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.instructions {
    display: flex;
    font-size: 24px;
    font-weight: bold;
    padding: 15px;
    flex-direction: column;
    width: 100%;
}

.instructions p {
    width: 95%;
}

.confirm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.story-output {
    background-color: white;
    font-size: 26px;
    line-height: 40px;
    padding: 30px;
}

.user-story-input textarea {
        width: 100%;
        height: 150px;
        padding: 12px 20px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        background-color: #f8f8f8;
        resize: none;
        font-family: 'Padauk', sans-serif;
        font-size: 24px;
}

.user-story-input {
    margin: auto;
    width: 80%;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.user-input-area {
    margin: 40px;
}

.user-input-area label {
    font-size: 24px;
}

@media (max-width: 400px) {
    .story-workspace {
        display: flex;
        flex-direction: column;
    }

    .left-column {
        width: 100%;
    } 
    
    .right-column {
        width: 100%;
    }
}

.arrow-highlight {
    background-color:rgba(252, 193, 72, 0.8);
    padding:0.1em 0.2em;
    margin: 0 0.1em;
}
